# Вычисления с помощью NumPy

## Задание 1

Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. 
Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. 

Будем считать, что каждый столбец - это признак, а строка - наблюдение. 
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. 
Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [3]:
import numpy as np

In [14]:
a = np.array([[1, 6], 
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7]])

mean_a = a.mean(axis=0)
print(mean_a)

[2.  8.4]

## Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2

In [24]:
a_centered = np.subtract(a, mean_a)
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

## Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений

In [43]:
a_centered_sp =  np.dot(a_centered[:,0], a_centered[:,1])
r = a_centered_sp / (a_centered.shape[0] - 1)

print(f'a_centered_sp = {a_centered_sp}; N = {a_centered.shape[0]}')
print(f'result = {r}')

a_centered_sp = 8.0; N = 5
result = 2.0

## Задание 4

Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1

In [47]:
print(np.cov(a.T)[0,1])

2.0

# Работа с данными в Pandas

## Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']

In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Тургенев', 'Чехов', 'Островский'],
})
book = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [100, 101, 1103, 25, 200, 300, 33]
})

## Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [3]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    100
1          1    Тургенев                 Рудин    101
2          1    Тургенев     Дворянское гнездо   1103
3          2       Чехов      Толстый и тонкий     25
4          2       Чехов       Дама с собачкой    200
5          3  Островский                 Гроза    300
6          3  Островский  Таланты и поклонники     33

## Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами

In [4]:
#top5 = authors_price.sort_values(by="price", ascending=False).head(5)
top5 = authors_price.nlargest(5, "price")
top5

   author_id author_name         book_title  price
2          1    Тургенев  Дворянское гнездо   1103
5          3  Островский              Гроза    300
4          2       Чехов    Дама с собачкой    200
1          1    Тургенев              Рудин    101
0          1    Тургенев        Отцы и дети    100

## Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [5]:
#authors_stat = authors_price["author_name"].unique()
df = authors_price.groupby("author_name")
df.agg({'price': ['min', 'max', 'mean']})

            price
              min   max        mean
author_name
Островский     33   300  166.500000
Тургенев      100  1103  434.666667
Чехов          25   200  112.500000

## Задание 5

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [6]:
authors_price['cover']  = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    100  твердая
1          1    Тургенев                 Рудин    101   мягкая
2          1    Тургенев     Дворянское гнездо   1103   мягкая
3          2       Чехов      Толстый и тонкий     25  твердая
4          2       Чехов       Дама с собачкой    200  твердая
5          3  Островский                 Гроза    300   мягкая
6          3  Островский  Таланты и поклонники     33   мягкая

In [7]:
book_info = pd.pivot_table(authors_price,
            index=["author_name"],
            columns=["cover"],
            values=["book_title"],
            aggfunc=[len], fill_value=0
            )
book_info

                   len
            book_title
cover           мягкая твердая
author_name
Островский           2       0
Тургенев             2       1
Чехов                0       2

In [10]:
book_info.to_pickle('book_info.pkl')

In [11]:
book_info_2 =  pd.read_pickle('book_info.pkl')
book_info_2

                   len
            book_title
cover           мягкая твердая
author_name
Островский           2       0
Тургенев             2       1
Чехов                0       2